.ml-auto {
    margin-left: auto;
}

/* Overides */
.nav-link {
    color: #bbbbbb;
    padding: 0;
}

.dropdown-menu {
    min-width: 17rem;
}

.navbar-toggler {
    margin-right: .5rem;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.05rem;
}

.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}

.dropdown-menu.show {
    left: -2rem;
    padding: 1rem;
    margin-top: .25rem;
}

.navbar-collapse {
    padding: .5rem;
    padding: 0 .5rem 0 .5rem;
}
/* Overides End */

@keyframes shake {
  0% { 
    transform: rotate(1deg);
  }
  50% {
   transform: rotate(-2deg);
  }
  70% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.tool-tip:hover {
    animation: shake 500ms ease-in-out forwards;
}

.options {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.link-wrapper {
    cursor: pointer;
}

.link-font {
    display: block;
    padding: 9px 12px 10px;
    font-size: 14px;
    line-height: 1.28571em;
    font-weight: 400;
}

.link-font-sml {
    font-size: 14px;
    font-weight: 400;
}

.nav-img {
    display: block;
    height: 18px;
    width: 18px;
    object-fit: contain;
}

.nav-img-sml {
    display: block;
    max-height: 63px;
    max-width: 50px;
    object-fit: contain;
}

.nav-img-lrg {
    display: block;
    height: 32px;
    width: 32px;
    object-fit: contain;
}

/* Galaxy Fold */
@media only screen 
    and (width: 280px) {
    .dropdown-menu.show {
        left: -5rem;
    }
}

/* All other mobile */
@media only screen 
    and (min-width: 992px) {
    .dropdown-menu.show {
        right: 20%;
        left: auto;
    }
}