.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.4)) , url('./img/test-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
}

.SearchBar-sort-options ul {
  display: flex;
  justify-content: center;
  margin-bottom: 2.22rem;
  color: #ffffff;
}

.SearchBar-sort-options li {
  cursor: pointer;
  width: 4.33rem;
  border-bottom: 1px solid #fff;
  line-height: 1.13;
  text-align: center;
  font-weight: 400;
  font-size: .83rem;
  letter-spacing: .35px;
  margin-right: 1.5rem;
  transition: color .25s;
}

.SearchBar-sort-options li:hover {
  color: #d4cfcf;
}

.SearchBar-sort-options li.active,
.SearchBar-sort-options li.active:hover {
  border-bottom: 1px solid #bbbbbb;
  color: #bbbbbb;
}

.SearchBar-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SearchBar-fields input {
  width: 30%;
  padding: .66rem 1rem;
  margin: 0 0 1rem 0;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: .77rem;
  font-weight: 500;
}

.SearchBar-fields input:last-child {
  margin-right: 0;
}

.SearchBar-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    background-color: #ffc900;
    height: 2.5rem;
    width: 10rem;
    cursor: pointer;
    transition: background-color .5s;
}

.SearchBar-submit:hover {
  background-color: #f0be0c !important;
  color: #000000;
}

.SearchBar-submit:active {
  transform: scale(.95);
}

@media only screen and (max-width: 560px) {
  .SearchBar-sort-options ul {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .SearchBar-fields {
    flex-direction: column;
    align-items: center;
  }

  .SearchBar-fields input {
    margin-right: 0;
    margin-bottom: .86rem;
  }
}