/* Helpers */
.m-l {
    margin-left: 1rem; 
}

.m-r-7 {
    margin-right: 7.25rem;
}

.m-r-md-vw  {
    margin-right: 0;
}

.button-underline {
    border: none;
    text-decoration: underline solid 2px #ED1D24;
    text-decoration-line: underline;
    text-decoration-color: #ED1D24;
    background-color: transparent;
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-color: #ed1d24;
}

/* Font */
.heading-red {
    color: #ED1D24;
    font-weight: 600;
    font-size: 21px;
}

.about-subHeading {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
}

.font-14 {
    font-size: 14px;
}

.banner-list-font {
    font-size: 15px;
    color: #0a0a0a;
}

.banner-photo-font {
    font-size: 15px;
    color: #0a0a0a;
    display: inline;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-right: 3rem;
    padding: .20rem;
    border-radius: 3px;

    background: linear-gradient(to right, #f0f0f0 50%, #ED1D24 50%);
    background-size: 300% 100%;
    background-position: left bottom;
    transition: all ease-in-out .75s;
}

.banner-photo-font:hover {
    background-position: right bottom;
    color: #f0f0f0;
}

.sidebar-list-font {
    font-size: 14px;
    color: #0a0a00;
}

.No-user-timestamp {
    font-size: 14px;
    letter-spacing: .30px;
    font-weight: 300;
}

.break-word-always {
    inline-size: 180px;
    overflow-wrap: break-word;
    font-size: 18px;
}

/* Containers */
.top-content-container {
    background-color: #f0f0f0;
    border-bottom: 1px solid #dfdfdf;
    width: 100vw;
    /* height: 175px; */
}

.info-profile-wrapper {
    margin-left: 6rem;
    min-width: 361px;
}

.update-profile-wrapper {
    min-width: 191px;
    margin-left: auto;
}

.w-spacer {
    width: 12rem;
}

.profile-image {
    position: absolute;
    top: 1.35rem;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-color: #f5f5f5;
    object-fit: cover;
    height: 95px;
    width: 95px;
    margin-left: 5vw;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    z-index: 100;
}

.profile-image:hover {
    transform: rotate(-2deg) scale(1.015);
    opacity: .90;
}

.bot-content-container {
    min-height: 70vh;
    height: auto;
}

.bot-content-wrapper {
    max-width: 950px;
    height: 100%;
}

.sidebar {
    width: 100%;
}

.sidebar-item {
    cursor: pointer;
}

.sidebar-item:hover {
    background-color: #dfdfdf;
    color: #0a0a0a;
}

/* Galaxy only */
@media only screen and (min-device-width: 280px) 
                   and (max-device-width: 280px) 
                   and (orientation: portrait) {
    .profile-image {
        height: 100px;
        width: 75px;
        top: 1.05rem;
        left: 0;
        margin-left: 0;
    }
}

/* Small iPhone only */
@media only screen and (width: 320px) 
                   and (orientation: portrait) {
    .profile-image {
        margin-left: 0;
    }
}

/* Phone landscape */
@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 1000px) 
                   and (orientation: landscape) {
    .profile-image {
        height: 200px;
        width: 200px;
        top: 2%;
        left: 2rem;
        margin-left: 0;
    }

    .m-r-md-vw {
        margin-right: 5vw;
    }
}

/* Desktop small size */
@media only screen and (min-width: 500px)
                   and (max-width: 991px) {
    .profile-image {
        height: 200px;
        width: 200px;
        top: 2%;
        left: 2rem;
        margin-left: 0;
    }
}

@media only screen and (min-width: 768px) {
    .outer-profile-wrapper {
        margin-left: 10%;
        margin-right: 5rem;
        max-width: 65rem;
    }
}

/* Tablet small portrait */
@media only screen and (min-device-width: 768px) 
                   and (max-device-width: 1023px) 
                   and (orientation: portrait) {
    .profile-image {
        height: 200px;
        width: 200px;
        top: 1.5rem;
        left: 2rem;
        margin-left: 0;
    }

    .m-r-md-vw {
        margin-right: 20vw;
    }
}

/* Desktop large and laptop */
/* 1024 */
@media only screen and (min-width: 992px) {
    .m-l-4 {
        margin-left: 4rem; 
    }

    .m-r-md {
        margin-right: 0;
    }

    .m-l-3 {
        margin-right: 4.9rem;
    }

    .break-word {
        inline-size: 180px;
        overflow-wrap: break-word;
    }

    .grey-line-break {
        padding: 0 1rem;
        border-left: 1.25px solid rgb(10 10 10 / 25%);
    }

    .sidebar {
        width: 12rem;
    }

    .custom-padding {
        padding: 6rem 2rem; 
    }

    .top-content-container {
        height: 30vh;
        max-height: 215px;
    }

    .profile-image {
        height: 200px;
        width: 200px;
        top: 2rem;
        margin-left: 0;
    }
}