.Business {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 16.66rem;
  margin: 0 .5rem 2.3rem .5rem;
  padding: .75rem;
  border-radius: 5px;
  background-color: #efefef;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.Business:hover {
  border: 1px solid #ffc900;
}

.Business .image-container {
  height: 16.66rem;
  margin-bottom: 1rem;
}

.Business h2 {
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem;
    border-radius: 15px 5px 0 0;
    background-color: #efefef;
}

.Business-information {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  border-radius: 0 0 5px 5px;
  background-color: #efefef;
}

.Business-information p {
  font-size: .88rem;
  font-weight: 300;
  line-height: 1rem;
}

.Business-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Business-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.Business-reviews h3 {
  color: #fac60b;
  font-weight: 600;
}

.Business-reviews .rating {
  font-size: .88rem;
  line-height: 1rem;
}