.business {
  z-index: 100;
  width: 16.66rem;
  margin: 0 .5rem 2.3rem .5rem;
  padding: .75rem;
  background-color: #efefef;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.business:hover {
  border: 2.05px solid #ED1D24;
  transform: scale(1.05);
}

.business .image-container {
  height: 16.66rem;
  margin-bottom: 1rem;
}

.business h2 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: .5rem;
  border-radius: 15px 5px 0 0;
  background-color: #efefef;
}

.business-info {
  padding: .5rem;
  border-radius: 0 0 5px 5px;
  background-color: #efefef;
}

.business-info p {
  font-size: .88rem;
  font-weight: 300;
  line-height: 1rem;
}

.reviews-font {
  color: #ED1D24;
  font-weight: 600;
}

.rating {
  font-size: .88rem;
  line-height: 1rem;
}

.star-rating {
  height: 15px;
}